:local(.wrapper){
  display: flex;
  margin: 5px 0;
  width: 100%;
  max-height: 30px;
  justify-content: space-between;
  align-content: center;
}

:local(.opponent img){
  object-fit: contain;
  width: 15%;
  min-width: 28px;
}

:local(.opponent){
  display: flex;
  width: 40%;
  text-align-last: center;
  max-width: 160px;
  align-items: center;
}

:local(.name){
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

:local(.count){
  display: flex;
  width: 10%;
  align-items: center;
  justify-content: center;
}
