:local(.container) {
  max-width: 500px;
  min-width: 256px;
  width: 100%;
  padding: 20px;
  margin: auto;
}

:local(.form) {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap-reverse;
  padding: 2% 5%;
}