:local(.loader) {
  background-image: url('loading.gif');
  background-repeat: no-repeat;
  background-size: cover;

  &.sm {
    width: 24px;
    height: 24px;
  }

  &.md {
    width: 48px;
    height: 48px;
  }

  &.lg {
    width: 96px;
    height: 96px;
  }
}