:local(.leadersList) {
  display: flex;
  flex: 5;
  flex-direction: column;
  max-height: 200px;
}

:local(.leadersListHeader) {
  text-align: center;
}

:local(.playerName) {
  width: 100%;
}

:local(.numberOfLikes) {
  overflow: hidden;
  width: 100px;
}
