:local(*) {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:local(.wrapper) {
  width: 100%;
  height: 93vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

:local(.links) {
  display: flex;
  justify-content: space-between;
  padding: 5%;
}

:local(a) {
  text-decoration: none;
  color: var(--linksColor);
}