:local(.logo) {
  display: flex;
  justify-content: left;
  justify-items: left;
  text-align: left;
}

:local(.logo a) {
  width: 50%;
  justify-items: left;
}

:local(.logo a img) {
  display: flex;
  max-width: 200px;
  width: auto;
  height: auto;
  content: url("logo.svg");
}