:local(.blockWrapper) {
  margin: 15px;
  overflow: hidden;
  max-width: 800px;
}

:local(.blockLoader) {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

:local(.listsWrapper) {
  display: flex;
  flex-wrap: wrap;
}
