:local(.form) {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap-reverse;
  padding: 2% 5%;
}

:local(.button) {
  max-width: 120px;
  height: 30px;
  width: 50%;
  border-radius: 5px;
  margin-left: auto;
  justify-content: flex-end;
}

:local(.row) {
  display: flex;
  justify-content: space-between;
}